.main-app {
  text-align: center;
  margin: 100px;
}

.cta-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.show-nft-button {
  background: rgb(28, 214, 4);
}

.hide-nft-button {
  background: rgb(209, 42, 42);

}

.mint-nft-button {
  background: rgb(0, 94, 255);
}
